{% extends "template.html" %} {% block title %} <title>PM2.5@CPE</title> {%
endblock %} {% block contents %}
<div class="jumbotron"><h1 class="display-4">เกี่ยวกับเซนเซอร์</h1></div>
<div class="row">
  <div class="col-12">
    <h3>เซนเซอร์ดังกล่าวติดตั้งโดยหน่วยงานใด</h3>
    <p>
      เซนเซอร์วัดตัวนี้เป็นผลงานของ
      <a href="https://cpe.ku.ac.th/"
        >ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</a
      >
    </p>
    <p>
      ภาควิชาฯ มุ่งหวังให้เซนเซอร์ดังกล่าวเป็น "ตัวอย่าง" (showcase)
      ของความเป็นไปได้ในการนำเทคโนโลยี<b>อินเทอร์เน็ตแห่งสรรพสิ่ง</b> (Internet
      of Things: IoT) รวมถึงเทคโนโลยีทางวิศวกรรมคอมพิวเตอร์อื่นๆ
      มาประยุกต์ใช้ในการแก้ปัญหาในชีวิตประจำวัน
    </p>
    <p>
      ภาควิชาฯ เปิดสอนรายวิชาการสร้างอุปกรณ์อินเทอร์เน็ตแห่งสรรพสิ่ง
      ในลักษณะเดียวกับเซนเซอร์วัดคุณภาพอากาศตัวนี้ที่เชื่อมต่อกับอินเทอร์เน็ต
      โดยเปิดสอนผ่านโครงการหลักสูตร<b
        >ศาสตร์แห่งแผ่นดินเพื่อการพัฒนาที่ยั่งยืน</b
      >
      <a href="https://cpe.ku.ac.th/kotl/"> ศึกษาเพิ่มเติมได้ที่นี่</a>
    </p>
    <h3>เซนเซอร์ดังกล่าวติดตั้งอยู่ที่ไหน</h3>
    <p>
      เซนเซอร์ดังกล่าวติดตั้งที่ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์
      มหาวิทยาลัยเกษตรศาสตร์ โดยติดตั้งที่ชั้นหนึ่งของอาคารภาควิชาฯ
    </p>
    <iframe
      width="100%"
      height="350"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://www.openstreetmap.org/export/embed.html?bbox=100.56751266510034%2C13.84519104756402%2C100.56972816974665%2C13.84697497230106&amp;layer=mapnik&amp;marker=13.846083011643794%2C100.56862041742352"
      style="border: 1px solid black"
    ></iframe
    ><br /><small
      ><a
        href="https://www.openstreetmap.org/?mlat=13.84608&amp;mlon=100.56862#map=19/13.84608/100.56862"
        >View Larger Map</a
      ></small
    >
    <h3>เซนเซอร์ดังกล่าววัดค่าฝุ่นได้อย่างไร มีความแม่นยำหรือไม่</h3>
    <p>
      อุปกรณ์ที่ติดตั้งเลือกใช้เซนเซอร์วัดฝุ่น PMS3003 จากบริษัท Platronics
      <a
        href="http://www.aqmd.gov/docs/default-source/aq-spec/resources-page/plantower-pms5003-manual_v2-3.pdf"
        >(รายละเอียดของเซนเซอร์)</a
      >
      โดยผลการทดสอบความแม่นยำของเซนเซอร์ดังกล่าวให้ผลแตกต่างกันออกไป
    </p>
    <ul>
      <li>
        South Coast AQMD
        <a
          href="http://www.aqmd.gov/docs/default-source/aq-spec/field-evaluations/laser-egg---field-evaluation.pdf"
          >ทดสอบเซนเซอร์ดังกล่าว</a
        >เปรียบเทียบกับเซนเซอร์ MetOne BAM และพบความสัมพันธ์ในค่าเฉลี่ยฝุ่น
        PM2.5 ตลอดช่วงระยะเวลา 1 ชั่วโมงระหว่างเซนเซอร์ทั้งสองตัว
      </li>
    </ul>
    <p>
      เพื่อการตัดสินใจเพิ่มเติม
      เราแนะนำให้ตรวจสอบสภาพฝุ่นจากแหล่งข้อมูลอื่นประกอบการตัดสินใจ เช่นจาก<a
        href="http://airq.ku.ac.th/"
        >เซนเซอร์ของคณะสิ่งแวดล้อม มหาวิทยาลัยเกษตรศาสตร์</a
      >
    </p>
    <h3>เซนเซอร์ดังกล่าวจัดทำโดยใคร</h3>
    <p>
      เซนเซอร์จัดทำโดย
      <a href="https://srakrn.me/bio">ศิระกร ลำใย</a> นิสิตชั้นปีที่สาม
      โดยได้รับการสนับสนุนโดย
      <a href="https://cpe.ku.ac.th/~jtf">ผศ.ดร.จิตร์ทัศน์ ฝักเจริญผล</a> และ
      <a href="https://cpe.ku.ac.th/~cpj">ผศ.ดร.ชัยพร ใจแก้ว</a>
    </p>
  </div>
</div>
{% endblock %}
