<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>PM2.5 at Department of Computer Engineering</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"
      integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='moment.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"
    <style type="text/css">
    </style>
  </head>
  <div class="container">
    <div class="jumbotron mt-3">
      <h1 class="display-4">PM2.5 at Kasetsart University</h1>
      <p>
        เซนเซอร์วัดดังกล่าวเป็นเซนเซอร์ที่ติดตั้งบริเวณอาคารของ
        <a href="https://cpe.ku.ac.th/"
          >ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์
          มหาวิทยาลัยเกษตรศาสตร์</a
        >
      </p>
      <p class="small">
        ภาควิชาฯ เปิดสอนรายวิชาการสร้างอุปกรณ์ "อินเทอร์เน็ตแห่งสรรพสิ่ง (IoT)"
        ในลักษณะเดียวกับเซนเซอร์วัดคุณภาพอากาศตัวนี้ที่เชื่อมต่อกับอินเทอร์เน็ต
        โดยเปิดสอนผ่านโครงการหลักสูตร<b
          >ศาสตร์แห่งแผ่นดินเพื่อการพัฒนาที่ยั่งยืน</b
        >
        <a
          href="https://cpe.ku.ac.th/kotl/"
        >
          ศึกษาเพิ่มเติมได้ที่นี่</a
        >
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">PM2.5</h5>
                  <h1 class="display-2 text-center" id="pm25">{{ data["PM2.5"] }}</h1>
                  <div class="text-center">mg/m<sup>3</sup></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">PM10</h5>
                  <h1 class="display-2 text-center" id="pm10">{{ data["PM10"] }}</h1>
                  <div class="text-center">mg/m<sup>3</sup></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">PM1</h5>
                  <h1 class="display-2 text-center" id="pm1">{{ data["PM1"] }}</h1>
                  <div class="text-center">mg/m<sup>3</sup></div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <h5>กราฟแสดงปริมาณฝุ่นย้อนหลัง</h5>
        <canvas id="pm25-chart" height="100px"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr />
        <div class="footer">
          เซนเซอร์วัดฝุ่นครั้งล่าสุดเมื่อ
          <span id="timestamp">{{ data["timestamp"]|datetime }}</span>
        </div>
      </div>
    </div>
  </div>
</html>

<script src="{{ url_for('static', filename='main.js') }}"></script>
