<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>PM2.5 at Department of Computer Engineering</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </head>
  <div class="container">
    <div class="jumbotron mt-3">
      <h1 class="display-4">PM2.5 at Kasetsart University</h1>
      <p>
        เซนเซอร์วัดดังกล่าวเป็นเซนเซอร์ที่ติดตั้งบริเวณอาคารของ
        <a href="https://cpe.ku.ac.th/"
          >ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์
          มหาวิทยาลัยเกษตรศาสตร์</a
        >
      </p>
      <p class="small">
        ภาควิชาฯ เปิดสอนรายวิชาการสร้างอุปกรณ์ "อินเทอร์เน็ตแห่งสรรพสิ่ง (IoT)"
        ในลักษณะเดียวกับเซนเซอร์วัดคุณภาพอากาศตัวนี้ที่เชื่อมต่อกับอินเทอร์เน็ต
        โดยเปิดสอนผ่านโครงการหลักสูตร<b
          >ศาสตร์แห่งแผ่นดินเพื่อการพัฒนาที่ยั่งยืน</b
        >
        <a
          href="http://sis.ku.ac.th/%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%81%E0%B8%AA%E0%B8%B9%E0%B8%95%E0%B8%A3%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A8%E0%B8%99%E0%B8%B5%E0%B8%A2%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%A3%E0%B8%8A%E0%B8%B8%E0%B8%94%E0%B8%A7%E0%B8%B4%E0%B8%8A%E0%B8%B2/%E0%B8%8A%E0%B8%B8%E0%B8%94%E0%B8%A7%E0%B8%B4%E0%B8%8A%E0%B8%B2%E0%B8%97%E0%B8%B5%E0%B9%88-13/"
        >
          ศึกษาเพิ่มเติมได้ที่นี่</a
        >
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PM10</h5>
            <h1 class="display-2 text-center">{{ data["PM10"] }}</h1>
            <div class="text-center">mg/m<sup>3</sup></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PM2.5</h5>
            <h1 class="display-2 text-center">{{ data["PM2.5"] }}</h1>
            <div class="text-center">mg/m<sup>3</sup></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PM1.0</h5>
            <h1 class="display-2 text-center">{{ data["PM1"] }}</h1>
            <div class="text-center">mg/m<sup>3</sup></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>

<script src="{{ url_for('static', filename='main.js') }}"></script>
