{% extends "template.html" %} {% block title %} <title>PM2.5@CPE</title> {%
endblock %} {% block contents %}
<div class="jumbotron d-none d-md-block">
  <h1 class="display-4">PM2.5@CPE</h1>
  <p>
    เซนเซอร์วัดตัวนี้เป็นผลงานของ
    <a href="https://cpe.ku.ac.th/"
      >ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</a
    >
    และติดตั้งอยู่บริเวณชั้น 1 อาคารภาควิชาฯ
  </p>
  <p class="small">
    ภาควิชาฯ เปิดสอนรายวิชาการสร้างอุปกรณ์ "อินเทอร์เน็ตแห่งสรรพสิ่ง (IoT)"
    ในลักษณะเดียวกับเซนเซอร์วัดคุณภาพอากาศตัวนี้ที่เชื่อมต่อกับอินเทอร์เน็ต
    โดยเปิดสอนผ่านโครงการหลักสูตร<b>ศาสตร์แห่งแผ่นดินเพื่อการพัฒนาที่ยั่งยืน</b>
    <a href="https://cpe.ku.ac.th/kotl/"> ศึกษาเพิ่มเติมได้ที่นี่</a>
  </p>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <h3>
      สถานการณ์ปัจจุบัน:
      <span id="aqi-badge">
        <div class="badge">{{ data["description"]["brief_description"] }}</div>
      </span>
    </h3>
    <p id="aqi-description">{{ data["description"]["description"] }}</p>
  </div>
  <div class="col-md-4 mb-3">
    <h5>ปริมาณฝุ่นปัจจุบัน</h5>
    <div class="card" id="dust-card">
      <div class="card-body">
        <ul class="nav nav-pills nav-fill" id="value-tabs" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="pm25-tab"
              data-toggle="tab"
              href="#pm25"
              role="tab"
              aria-controls="pm25"
              aria-selected="true"
              >PM2.5</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="pm10-tab"
              data-toggle="tab"
              href="#pm10"
              role="tab"
              aria-controls="pm10"
              aria-selected="false"
              >PM10</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="pm1-tab"
              data-toggle="tab"
              href="#pm1"
              role="tab"
              aria-controls="pm1"
              aria-selected="false"
              >PM1</a
            >
          </li>
        </ul>
        <div class="tab-content" id="values-tab-content">
          <div
            class="tab-pane fade show active"
            id="pm25"
            role="tabpanel"
            aria-labelledby="pm25-tab"
          >
            <h1 class="display-2 text-center" id="pm25-value">
              {{ data["PM2.5"] }}
            </h1>
            <div class="text-center">μg/m<sup>3</sup></div>
          </div>
          <div
            class="tab-pane fade"
            id="pm10"
            role="tabpanel"
            aria-labelledby="pm10-tab"
          >
            <h1 class="display-2 text-center" id="pm10-value">
              {{ data["PM10"] }}
            </h1>
            <div class="text-center">μg/m<sup>3</sup></div>
          </div>
          <div
            class="tab-pane fade"
            id="pm1"
            role="tabpanel"
            aria-labelledby="pm1-tab"
          >
            <h1 class="display-2 text-center" id="pm1-value">
              {{ data["PM1"] }}
            </h1>
            <div class="text-center">μg/m<sup>3</sup></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h5>กราฟแสดงปริมาณฝุ่นย้อนหลัง</h5>
    <div id="pm25-chart-wrapper"><canvas id="pm25-chart"></canvas></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr />
    <div class="footer mb-3">
      เซนเซอร์วัดฝุ่นครั้งล่าสุดเมื่อ
      <span id="timestamp">{{ data["timestamp"] | datetime }}</span>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
