<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#FFA000">
    <link rel="manifest" href="{{ url_for('web.json_webpack') }}">


    {% block title %}
    <title>PM2.5 at Department of Computer Engineering</title>
    {% endblock %}
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"
      integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='chartjs-plugin-annotation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <nav
    class="navbar fixed-top navbar-expand-lg navbar-light"
    style="background-color: rgba(255, 160, 0, 1.0);"
  >
    <a class="navbar-brand" href="{{ url_for('web.index') }}">PM2.5@CPE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web.index') }}">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web.sensor_info') }}"
            >เกี่ยวกับเซนเซอร์</a
          >
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('api.api_manual') }}"">API</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">{% block contents %} {% endblock %}</div>
</html>

{% block scripts %} {% endblock %}
